body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .calculator {
    height: 420px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
  }
  
  input {
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 40px;
    text-align: right;
    height: 100px;
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 30px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
  }
.opt{
    color:white;
    background-color: rgb(20, 23, 21);
}

#clear{
    color:white;
    background-color: rgb(235, 19, 15);
}
#enter{
    color: white;
    background-color: green;
}